*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", "sans-serif";
    background-color: #fff;
    overflow-x: hidden;
}

@keyframes float {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-10px)
    }
}

.whatsapp {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #29a319;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 999;
    animation: float 2s ease-in-out infinite;
}

.container {
    display: flex;
    min-height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.first {
    background-image: url("../images/desktopOficial.png");
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-section {
    flex: 1;
    position: relative;
}

.overlay-text {
    position: absolute;
    right: 0;
    bottom: 20%;
    font-size: 8em;
    font-weight: bold;
    color: #29a319;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}

.content-section {
    width: 40%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section i {
    margin-left: 10px;
}

p {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

.alert {
    margin-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    color: #29a319;
}

.offer-banner {
    background-color: #29a319;
    color: #000;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.offer-banner p {
    font-size: 1.2em;
    margin: 0 10px;
}

.offer-banner i {
    color: white;
}


.highlight {
    color: #29a319;
}

.cta-button {
    background-color: #29a319;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-wrap: nowrap;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.price {
    font-size: 1.2em;
    margin-top: 1em;
}

.discount {
    text-decoration: line-through;
    color: #888;
}

.footer-text {
    font-size: 0.9em;
    margin-top: 2em;
    color: #888;
}

.second {
    background-image: url("../images/desktop.png");
}

.second .alert{
    font-size: 1em;
}

.second p{
    font-size: 1.8em;
}

/* Galeria de imagens */
.gallery{
    background-image: url("../images/fundoWhats.png");
    background-repeat: repeat;
    background-size: cover;
}

.gallery .title{
    padding-top: 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(142,188,180, 0.1);
}

.gallery .container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    gap: 30px;
    margin: 0 auto;
}



.gallery .container-images img {
    max-width: 700px; 
    height: 550px;
    margin: 10px;
    object-fit: cover;
}


/* carrousel  */

@keyframes moviment {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.carrousel {
    background-color: #29a319;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    justify-content: start;
}

.carrousel .content {
    display: flex;
    animation: moviment 55s linear infinite;
}

.carrousel h2 {
    display: inline-block;
    margin-right: 50px; 
}




@media (min-width: 800px) and (max-width: 1400px) {
    .container {
        min-height: 650px;
        justify-content: flex-start;
        background-position: -100px;
    }


    .first {
        background-image: url("../images/riCA-tablet-branco.png");
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content-section {
        width: 60%;
    }

    .second {
        background-image: url("../images/sessao2-tabletMaior.png");
    }

    .second .content-section {
        width: 45%;
    }

    .container.second {
        background-position: center;
    }

    .second p{
        margin-bottom: 0.5em;
    }
    .second .alert{
        margin-top: 0;
    }


    p {
        font-size: 2.0em;
        margin-bottom: 1.5em;
        text-align: center;
    }
}


/* Configuração para a segunda sessão em tablets */
@media (min-width: 800px) and (max-width: 1200px) {


    .second {
        background-image: url("../images/tabletMenor.png");
    }

    .second .content-section {
        margin-top: 100px;
        width: 100%;
    }

    .container.second {
        justify-content: flex-start;
        align-items: flex-start;
        background-position: bottom;
        min-height: 1050px;
    }
}


/* configuração para celulares grandes e pequenos tablets */
@media (max-width: 799px) {

    .container {
        flex-direction: column;
        min-height: 1225px;
        justify-content: flex-start;
    }


    .content-section {
        width: 100%;
    }

    .first {
        background-image: url("../images/mobileOficial.png");
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    p {
        font-size: 1.5em;
        margin: 1.5em 0;
        text-align: center;
    }

    .second {
        background-image: url("../images/mobileBanner.png");
    }

    .second .content-section {
        margin-top: 100px;
    }

    .container.second {
        justify-content: flex-start;
        align-items: center;
        background-position: bottom;
        min-height: 1200px;
    }
}

/* para pequenos celulares até 500px */

@media (max-width:500px) {


    .container.second {
        min-height: 850px;
    }
    .second p{
        font-size: 1.5em;
    }
    .second {
        background-image: url("../images/mobileBanner.png");
    }

    .second .content-section {
        margin-top: 50px;
    }

    .second p{
        margin-bottom: 0.5em;
    }
    .second .alert{
        margin-top: 0;
    }



    .gallery .title{
        font-size: 12px;
    }

    .gallery .container-images {
        display: flex;
        align-items: center;
        justify-content:center ;
    }

    .gallery .container-images img:nth-child(1) {
        width: 300px;
        height: 350px;
        object-fit: cover;
    }

    .gallery .container-images img:nth-child(2) {
        width: 360px;
        height: 300px;
        object-fit: cover;
    }

    .gallery .container-images img:nth-child(3) {
        width: 360px;
        height: 350px;
        object-fit: cover;
    }

    .gallery .container-images img:nth-child(4) {
        width: 360px;
        height: 350px;
        object-fit: cover;
    }
}